.footerText {
  border-top: 2px solid var(--blue-theme-main-color);
  width: 100%;
  margin: 0px auto;
  text-align: center;
  padding: 25px;
  text-align: center;
  color: #fff;
  background-color: var(--blue-theme-main-color);
}