body{
  background-color: #CFD0D2;

}

main{
  height: 84vh;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0px; 
}

.buttons>div {
  margin: 8px;
  margin-bottom: 0px;
}

.option {
  width: 100%;
  text-align: center;
  line-height: 0.rem;
  margin: 10px 0 20px;
  
}

.option span {
  padding: 0px 10px;
  color: var(--blue-theme-main-color);
  background: transparent;
  font-weight: 500;
}



.submitBtn {
  border: 1px solid var(--blue-theme-main-color);
  padding: 15px 30px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 15px;
  outline: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.submitBtn:hover {
  background-color: var(--blue-theme-main-color);
  color: white;
}


.loginBtn {
  width: 100%;
  border: 2px solid var(--blue-theme-main-color);
  padding: 15px 30px;
  border-radius: 50px;
  cursor: pointer;
  background-color: var(--blue-theme-main-color);
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  outline: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.loginBtn:hover {
  background-color: var(--blue-theme-background-color);
  color: var(--blue-theme-main-color);
  font-weight: 700;
}



.switchBtn {
  border-radius: 4px;
  padding: 10px;
  padding-bottom: 30px;
  margin-top: 5px;
  background-color: white;
  cursor: pointer;
  font-size: 15px;
  outline: none;
  border: 1px solid var(--blue-theme-main-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.switchBtn:hover {
  background-color:var(--blue-theme-main-color);
  color: white;
  
}


@media screen and (max-width: 992px) {

  .formContainer {
    width: 95%;

  }

}